.bubble {
  border-radius: 50%;
  display: inline-block; }

body {
  background: #DDC;
  margin: 0; }

.controls {
  background: #bebe9e;
  width: 320px;
  margin: 5px auto;
  padding: 5px; }
  .controls .control-group {
    text-align: center;
    width: 100%; }
    .controls .control-group .control-group__title {
      margin: 5px auto;
      font-size: 15px;
      text-transform: uppercase; }
    .controls .control-group .control-group__select {
      width: 18%;
      display: inline-block;
      background: #a0a070; }
    .controls .control-group .control-group__operator {
      font: normal normal normal 11px/normal '.HelveticaNeueDeskInterface-Regular';
      text-align: center;
      width: 3%;
      display: inline-block; }

.results-tree {
  width: 320px;
  margin: 0 auto; }
  .results-tree .results-tree__row {
    width: 100%;
    text-align: center; }
    .results-tree .results-tree__row div {
      width: 28px;
      height: 28px;
      color: white;
      overflow: hidden;
      font-size: 24px;
      line-height: 1; }
      .results-tree .results-tree__row div.potion-redgreen, .results-tree .results-tree__row div.potion-greenred {
        background: linear-gradient(red, green); }
      .results-tree .results-tree__row div.potion-greenblue, .results-tree .results-tree__row div.potion-bluegreen {
        background: linear-gradient(green, blue); }
      .results-tree .results-tree__row div.potion-bluered, .results-tree .results-tree__row div.potion-redblue {
        background: linear-gradient(blue, red); }
      .results-tree .results-tree__row div.potion-green {
        background: green; }
      .results-tree .results-tree__row div.potion-red {
        background: red; }
      .results-tree .results-tree__row div.potion-blue {
        background: blue; }
      .results-tree .results-tree__row div.potion-neutral {
        background: gray; }
    .results-tree .results-tree__row .results-tree__element {
      vertical-align: top;
      color: white; }

.answer-grid {
  display: table;
  width: 320px;
  margin: 5px auto; }
  .answer-grid .answer-grid__row {
    width: 100%;
    display: table-row; }
    .answer-grid .answer-grid__row .answer-grid__answer {
      box-sizing: border-box;
      display: table-cell;
      width: 12.5%;
      height: 30px; }
    .answer-grid .answer-grid__row .answer-grid__answer.guess {
      border: 4px solid #F0E; }
    .answer-grid .answer-grid__row .answer-grid__answer > img {
      margin: 3px;
      vertical-align: middle; }

.purple-border {
  border-left: 3px solid purple;
  border-top: 3px solid purple; }

.purple-back {
  background: #340033;
  border-right: 3px solid purple;
  border-bottom: 3px solid purple; }

.purple-soft {
  background: #ba7aba;
  border: 1px solid #743474; }

.purple-soft.true {
  background: #ff4dff; }

.purple-soft.false {
  background: #400040;
  border: 1px solid black; }

.green-border {
  border-left: 3px solid green;
  border-top: 3px solid green; }

.green-back {
  background: #003400;
  border-right: 3px solid green;
  border-bottom: 3px solid green; }

.green-soft {
  background: #7aba7a;
  border: 1px solid #347434; }

.green-soft.true {
  background: #4dff4d; }

.green-soft.false {
  background: #004000;
  border: 1px solid black; }

.sienna-border {
  border-left: 3px solid sienna;
  border-top: 3px solid sienna; }

.sienna-back {
  background: #64331c;
  border-right: 3px solid sienna;
  border-bottom: 3px solid sienna; }

.sienna-soft {
  background: #caa391;
  border: 1px solid #845d4b; }

.sienna-soft.true {
  background: #e9c2b0; }

.sienna-soft.false {
  background: #502916;
  border: 1px solid black; }

.gold-border {
  border-left: 3px solid gold;
  border-top: 3px solid gold; }

.gold-back {
  background: #b39700;
  border-right: 3px solid gold;
  border-bottom: 3px solid gold; }

.gold-soft {
  background: #fae67a;
  border: 1px solid #b4a034; }

.gold-soft.true {
  background: #fff7cc; }

.gold-soft.false {
  background: #7f6b00;
  border: 1px solid black; }

.blue-border {
  border-left: 3px solid blue;
  border-top: 3px solid blue; }

.blue-back {
  background: #0000b3;
  border-right: 3px solid blue;
  border-bottom: 3px solid blue; }

.blue-soft {
  background: #7a7afa;
  border: 1px solid #3434b4; }

.blue-soft.true {
  background: #ccccff; }

.blue-soft.false {
  background: #00007f;
  border: 1px solid black; }

.tan-border {
  border-left: 3px solid tan;
  border-top: 3px solid tan; }

.tan-back {
  background: #bc9055;
  border-right: 3px solid tan;
  border-bottom: 3px solid tan; }

.tan-soft {
  background: #e3d4c0;
  border: 1px solid #9d8e7a; }

.tan-soft.true {
  background: white; }

.tan-soft.false {
  background: #695a46;
  border: 1px solid black; }

.red-border {
  border-left: 3px solid red;
  border-top: 3px solid red; }

.red-back {
  background: #b30000;
  border-right: 3px solid red;
  border-bottom: 3px solid red; }

.red-soft {
  background: #fa7a7a;
  border: 1px solid #b43434; }

.red-soft.true {
  background: #ffcccc; }

.red-soft.false {
  background: #7f0000;
  border: 1px solid black; }

.dimgray-border {
  border-left: 3px solid dimgray;
  border-top: 3px solid dimgray; }

.dimgray-back {
  background: #434343;
  border-right: 3px solid dimgray;
  border-bottom: 3px solid dimgray; }

.dimgray-soft {
  background: #afafaf;
  border: 1px solid dimgray; }

.dimgray-soft.true {
  background: #cfcfcf; }

.dimgray-soft.false {
  background: #343434;
  border: 1px solid black; }

/*# sourceMappingURL=main.css.map */
