@mixin results($color-map){
  @each $ingredient, $color in $color-map{
    .results-tree__element.#{$ingredient}{
      div.icon{
        background: url("ingredients/#{$ingredient}.png");
        background-size: cover;
      }
    }
    .#{$ingredient}-left{
      border-left: 3px solid $color;
      border-top: 3px solid $color;
    }
    
    .#{$ingredient}-right{
      border-right: 3px solid $color;
      border-bottom: 3px solid $color;
      background: mix($color, lightgray);
    }
    
    .#{$ingredient}-back{
      background: darken($color, 15%);
    }
    
    .answer-grid__answer.#{$ingredient}{
      background: mix($color, lightgray);
      border: 1px solid mix($color, dimgray);
        &.true{
            background: lighten($color, 40%);

        }
        &.false{
              background: mix($color, black);
              border: 1px solid black;
        }
    }
  }
}

$paper: #DDC;
$margin: 5px;
$iphone5: 320px;
$bubble-font-size: 24px;
$ingredient-colors:(
  mushroom: purple,
  fern: forestgreen,
  toad: sienna,
  foot: gold,
  flower: darkblue,
  root: tan,
  scorpion: darkred,
  feather: dimgray
);
$non-mobile-break: 700px;

.bubble{
  border-radius: 50%;
  display: inline-block;
}

body{
  background: $paper;
  margin: 0;
  @media screen and (min-width: $non-mobile-break) {
    width: 700px;
    position: relative;
    margin: 0 auto;
  }
}

.controls{
  background: darken($paper, 15%);
  width: $iphone5;
  margin: $margin auto;
  padding: $margin;
  @media screen and (min-width: $non-mobile-break) {
    position: absolute;
    left: 50%;
    top: 20%;
    width: auto;
  }
  .control-group{
    text-align: center;
    width: 100%;
    .control-group__title{
      margin: $margin auto;
      font-size: 15px;
      text-transform: uppercase;
      
    }
    .control-group__select{
      width: 15%;
      display: inline-block;
      background: darken($paper, 30%);
      @media screen and (min-width: $non-mobile-break) {
        width: auto;
      }
    }
    .control-group__operator{
      font: normal normal normal 11px/normal '.HelveticaNeueDeskInterface-Regular';
      text-align: center;
      width: 2.5%;
      display: inline-block;
    }
  }
}

.results-tree{
  $bubble-size: 28px;
  width: $iphone5;
  margin: 0 auto;
  @media screen and (min-width: $non-mobile-break) {
    margin: 5px 0;
  }
  .results-tree__row{
    width: 100%;
    text-align: center;
    div.bubble{
      width: $bubble-size;
      height: $bubble-size;
      color: white;
      overflow: hidden;
      font-size: $bubble-font-size;
      line-height: 1;
      vertical-align: top;
      &.potion-blankplus,&.potion-blankminus{
        background: gray;
      };
      &.potion-redgreenminus,&.potion-redgreenplus{
        background: linear-gradient(red,green);
      };
      &.potion-greenblueminus,&.potion-greenblueplus{
        background: linear-gradient(green,blue);
      };
      &.potion-blueredminus,&.potion-blueredplus{
        background: linear-gradient(blue,red);
      };
      &.potion-greenplus,&.potion-greenminus{
        background: green;
      };
      &.potion-redplus,&.potion-redminus{
        background: red;
      };
      &.potion-blueplus,&.potion-blueminus{
        background: blue;
      };
      &.potion-neutral{
        background: gray;
      };
    }
    .results-tree__element{
      vertical-align: top;
      color: white;
    }
  }
}

div.icon{
  width: 100%;
  height: 100%;
}

.potion-greenplus .icon, .potion-blueplus .icon, .potion-redplus .icon, .potion-blankplus .icon, .potion-blueredplus .icon, .potion-redgreenplus .icon, .potion-greenblueplus .icon{
  background: url('polarities/plus.png');
  background-size: cover;
}

.potion-greenminus .icon, .potion-blueminus .icon, .potion-redminus .icon, .potion-blanminlus .icon, .potion-blueredminus .icon, .potion-redgreenminus .icon, .potion-greenblueminus .icon{
  background: url('polarities/minus.png');
  background-size: cover;
}

.potion-neutral .icon{
  background: url('polarities/neutral.png');
  background-size: cover;
}

.ERROR .icon{
  background: url('polarities/error.png');
  background-size: cover;
}

.answer-grid{
  display: table;
  width: $iphone5;
  margin: 5px auto;
  @media screen and (min-width: $non-mobile-break) {
    margin: 5px 0;
  }
  .answer-grid__row{
    width: 100%;
    display: table-row;
    .answer-grid__answer{
      box-sizing: border-box;
      display: table-cell;
      width: 12.5%;
      height: 30px;
    }
    .answer-grid__answer.guess{
      border: 5px double #FFF;
    }
    .answer-grid__answer > img {
      margin: 3px;
      vertical-align: middle;
    }
  }
}

 
@include results($ingredient-colors)