html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.bubble {
  border-radius: 50%;
  display: inline-block; }
  .bubble.potion-grayplus {
    background-color: gray;
    background-image: url("polarities/plus.png");
    background-size: cover; }
  .bubble.potion-grayminus {
    background-color: gray;
    background-image: url("polarities/minus.png");
    background-size: cover; }
  .bubble.potion-redplus {
    background-color: red;
    background-image: url("polarities/plus.png");
    background-size: cover; }
  .bubble.potion-redminus {
    background-color: red;
    background-image: url("polarities/minus.png");
    background-size: cover; }
  .bubble.potion-blueplus {
    background-color: blue;
    background-image: url("polarities/plus.png");
    background-size: cover; }
  .bubble.potion-blueminus {
    background-color: blue;
    background-image: url("polarities/minus.png");
    background-size: cover; }
  .bubble.potion-greenplus {
    background-color: green;
    background-image: url("polarities/plus.png");
    background-size: cover; }
  .bubble.potion-greenminus {
    background-color: green;
    background-image: url("polarities/minus.png");
    background-size: cover; }
  .bubble.potion-redgreenplus {
    background-image: url("polarities/plus.png"), linear-gradient(red, green);
    background-size: cover; }
  .bubble.potion-redgreenminus {
    background-image: url("polarities/minus.png"), linear-gradient(red, green);
    background-size: cover; }
  .bubble.potion-redgreenminus.potion-blueplus, .bubble.potion-redgreenminus.potion-blueminus {
    background-image: url("polarities/unknown.png");
    background-size: cover; }
  .bubble.potion-greenblueplus {
    background-image: url("polarities/plus.png"), linear-gradient(green, blue);
    background-size: cover; }
  .bubble.potion-greenblueminus {
    background-image: url("polarities/minus.png"), linear-gradient(green, blue);
    background-size: cover; }
  .bubble.potion-greenblueminus.potion-redplus, .bubble.potion-greenblueminus.potion-redminus {
    background-image: url("polarities/unknown.png");
    background-size: cover; }
  .bubble.potion-blueredplus {
    background-image: url("polarities/plus.png"), linear-gradient(blue, red);
    background-size: cover; }
  .bubble.potion-blueredminus {
    background-image: url("polarities/minus.png"), linear-gradient(blue, red);
    background-size: cover; }
  .bubble.potion-blueredminus.potion-greenplus, .bubble.potion-blueredminus.potion-greenminus {
    background-image: url("polarities/unknown.png");
    background-size: cover; }
  .bubble.potion-neutral {
    background-color: gray;
    background-image: url("polarities/neutral.png");
    background-size: cover; }
  .bubble.ERROR, .bubble.unknown {
    background-image: url("polarities/unknown.png") !important;
    background-size: cover; }

body {
  background: #DDC;
  margin: 0; }
  @media screen and (min-width: 805px) {
    body {
      width: 805px;
      position: relative;
      margin: 0 auto; } }

.about {
  background: #bebe9e;
  width: 100%;
  max-width: 480px;
  margin: 5px auto;
  padding: 5px;
  z-index: 2; }
  @media screen and (min-width: 805px) {
    .about {
      position: absolute;
      width: 480px;
      left: 325px; } }
  .about h3 {
    text-align: center;
    margin: 5px auto;
    font-size: 15px;
    text-transform: uppercase; }
  .about a#what::after {
    content: "\25BC";
    font-size: 10px;
    padding: 0 5px; }
  .about p {
    padding: 0 5px 10px 5px;
    margin: 5px; }
  .about .about__content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: height 1s;
    transition: max-height 1s; }
    .about .about__content a {
      color: #783e22; }
    .about .about__content a:active {
      color: white; }
    .about .about__content a:visited {
      color: #6e6e66; }
  .about.show a#what::after {
    content: "\25B2"; }
  .about.show .about__content {
    max-height: 1200px; }

.controls {
  background: #bebe9e;
  width: 100%;
  max-width: 480px;
  margin: 5px auto;
  padding: 5px; }
  @media screen and (min-width: 805px) {
    .controls {
      position: absolute;
      width: 480px;
      left: 325px; } }
  .controls h3 {
    text-align: center;
    margin: 5px auto;
    font-size: 15px;
    text-transform: uppercase; }
  @media screen and (min-width: 805px) {
    .controls {
      position: absolute;
      top: 44px; } }
  .controls .control-group {
    text-align: center;
    width: 100%; }
    .controls .control-group .control-group__select {
      width: 15%;
      display: inline-block;
      background: #a0a070; }
      @media screen and (min-width: 805px) {
        .controls .control-group .control-group__select {
          width: auto; } }
    .controls .control-group .control-group__operator {
      text-align: center;
      width: 2.5%;
      display: inline-block; }

.results-tree {
  width: 320px;
  margin: 0 auto; }
  @media screen and (min-width: 805px) {
    .results-tree {
      margin: 5px 0; } }
  .results-tree .results-tree__row {
    width: 100%;
    text-align: center; }
    .results-tree .results-tree__row div.bubble {
      width: 35px;
      height: 35px;
      overflow: hidden;
      line-height: 1;
      vertical-align: top; }
    .results-tree .results-tree__row .results-tree__element {
      vertical-align: top;
      color: white; }

.answer-grid {
  display: table;
  width: 320px;
  margin: 5px auto; }
  @media screen and (min-width: 805px) {
    .answer-grid {
      margin: 5px 0; } }
  .answer-grid .answer-grid__row {
    width: 100%;
    display: table-row; }
    .answer-grid .answer-grid__row .answer-grid__answer {
      box-sizing: border-box;
      display: table-cell;
      width: 12.5%;
      height: 35px;
      background-size: 90%;
      background-position: center;
      background-repeat: no-repeat; }
      .answer-grid .answer-grid__row .answer-grid__answer.type1 {
        background-image: url("elements/rs-gs+BL-.svg"); }
      .answer-grid .answer-grid__row .answer-grid__answer.type2 {
        background-image: url("elements/rs+gs-BL+.svg"); }
      .answer-grid .answer-grid__row .answer-grid__answer.type3 {
        background-image: url("elements/rs+GL-bs-.svg"); }
      .answer-grid .answer-grid__row .answer-grid__answer.type4 {
        background-image: url("elements/rs-GL+bs+.svg"); }
      .answer-grid .answer-grid__row .answer-grid__answer.type5 {
        background-image: url("elements/RL-gs-bs+.svg"); }
      .answer-grid .answer-grid__row .answer-grid__answer.type6 {
        background-image: url("elements/RL+gs+bs-.svg"); }
      .answer-grid .answer-grid__row .answer-grid__answer.type7 {
        background-image: url("elements/rs-gs-bs-.svg"); }
      .answer-grid .answer-grid__row .answer-grid__answer.type8 {
        background-image: url("elements/RL+GL+BL+.svg"); }
    .answer-grid .answer-grid__row .answer-grid__answer.guess {
      border: 5px double #F0F; }
    .answer-grid .answer-grid__row .answer-grid__answer.true {
      border: 2px solid #FFF; }
    .answer-grid .answer-grid__row .answer-grid__answer > img {
      margin: 3px;
      vertical-align: middle;
      display: none; }

div#log {
  background: #bebe9e;
  width: 100%;
  max-width: 480px;
  margin: 5px auto;
  padding: 5px; }
  @media screen and (min-width: 805px) {
    div#log {
      position: absolute;
      width: 480px;
      left: 325px; } }
  div#log h3 {
    text-align: center;
    margin: 5px auto;
    font-size: 15px;
    text-transform: uppercase; }
  @media screen and (min-width: 805px) {
    div#log {
      top: 200px; } }
  div#log h3 {
    position: relative; }
    div#log h3 button {
      position: absolute;
      right: 5px; }
  div#log ul#log__list {
    padding: 0; }
    div#log ul#log__list li {
      text-align: center;
      list-style: none;
      padding: 5px;
      background-color: #DDC; }
      div#log ul#log__list li:nth-child(odd) {
        background-color: #e9e9e0; }
      div#log ul#log__list li div.delete {
        position: absolute;
        right: 5px;
        border: 3px solid white;
        background-image: url("polarities/error.png");
        background-size: cover;
        display: none;
        vertical-align: middle; }
        div#log ul#log__list li div.delete.edit {
          display: inline-block; }
  div#log .bubble {
    width: 35px;
    height: 35px;
    vertical-align: middle; }
    div#log .bubble.unknown {
      border: 3px solid gray; }

.results-tree__element.mushroom, .bubble.element.mushroom {
  background-image: url("ingredients/mushroom.png");
  background-size: cover;
  background-color: #a969a9;
  border: 3px solid purple; }

.mushroom-left {
  border-left: 3px solid purple;
  border-top: 3px solid purple; }

.mushroom-right {
  border-right: 3px solid purple;
  border-bottom: 3px solid purple;
  background-color: #a969a9; }

.mushroom-back {
  background-color: #340033; }

.answer-grid__answer.mushroom {
  background: #a969a9;
  border: 1px solid #743474; }
  .answer-grid__answer.mushroom.true {
    background-color: #ff4dff; }
  .answer-grid__answer.mushroom.false {
    background-color: #400040;
    border: 1px solid black; }

#log span.mushroom {
  background-color: #a969a9;
  padding: 5px;
  border: 1px solid purple; }

.results-tree__element.fern, .bubble.element.fern {
  background-image: url("ingredients/fern.png");
  background-size: cover;
  background-color: #7aaf7a;
  border: 3px solid forestgreen; }

.fern-left {
  border-left: 3px solid forestgreen;
  border-top: 3px solid forestgreen; }

.fern-right {
  border-right: 3px solid forestgreen;
  border-bottom: 3px solid forestgreen;
  background-color: #7aaf7a; }

.fern-back {
  background-color: #134e13; }

.answer-grid__answer.fern {
  background: #7aaf7a;
  border: 1px solid #457a45; }
  .answer-grid__answer.fern.true {
    background-color: #94e594; }
  .answer-grid__answer.fern.false {
    background-color: #114511;
    border: 1px solid black; }

#log span.fern {
  background-color: #7aaf7a;
  padding: 5px;
  border: 1px solid forestgreen; }

.results-tree__element.toad, .bubble.element.toad {
  background-image: url("ingredients/toad.png");
  background-size: cover;
  background-color: #b99280;
  border: 3px solid sienna; }

.toad-left {
  border-left: 3px solid sienna;
  border-top: 3px solid sienna; }

.toad-right {
  border-right: 3px solid sienna;
  border-bottom: 3px solid sienna;
  background-color: #b99280; }

.toad-back {
  background-color: #64331c; }

.answer-grid__answer.toad {
  background: #b99280;
  border: 1px solid #845d4b; }
  .answer-grid__answer.toad.true {
    background-color: #e9c2b0; }
  .answer-grid__answer.toad.false {
    background-color: #502916;
    border: 1px solid black; }

#log span.toad {
  background-color: #b99280;
  padding: 5px;
  border: 1px solid sienna; }

.results-tree__element.foot, .bubble.element.foot {
  background-image: url("ingredients/foot.png");
  background-size: cover;
  background-color: #e9d569;
  border: 3px solid gold; }

.foot-left {
  border-left: 3px solid gold;
  border-top: 3px solid gold; }

.foot-right {
  border-right: 3px solid gold;
  border-bottom: 3px solid gold;
  background-color: #e9d569; }

.foot-back {
  background-color: #b39700; }

.answer-grid__answer.foot {
  background: #e9d569;
  border: 1px solid #b4a034; }
  .answer-grid__answer.foot.true {
    background-color: #fff7cc; }
  .answer-grid__answer.foot.false {
    background-color: #7f6b00;
    border: 1px solid black; }

#log span.foot {
  background-color: #e9d569;
  padding: 5px;
  border: 1px solid gold; }

.results-tree__element.flower, .bubble.element.flower {
  background-image: url("ingredients/flower.png");
  background-size: cover;
  background-color: #6969af;
  border: 3px solid darkblue; }

.flower-left {
  border-left: 3px solid darkblue;
  border-top: 3px solid darkblue; }

.flower-right {
  border-right: 3px solid darkblue;
  border-bottom: 3px solid darkblue;
  background-color: #6969af; }

.flower-back {
  background-color: #00003f; }

.answer-grid__answer.flower {
  background: #6969af;
  border: 1px solid #34347a; }
  .answer-grid__answer.flower.true {
    background-color: #5858ff; }
  .answer-grid__answer.flower.false {
    background-color: #000045;
    border: 1px solid black; }

#log span.flower {
  background-color: #6969af;
  padding: 5px;
  border: 1px solid darkblue; }

.results-tree__element.root, .bubble.element.root {
  background-image: url("ingredients/root.png");
  background-size: cover;
  background-color: #d2c3af;
  border: 3px solid tan; }

.root-left {
  border-left: 3px solid tan;
  border-top: 3px solid tan; }

.root-right {
  border-right: 3px solid tan;
  border-bottom: 3px solid tan;
  background-color: #d2c3af; }

.root-back {
  background-color: #bc9055; }

.answer-grid__answer.root {
  background: #d2c3af;
  border: 1px solid #9d8e7a; }
  .answer-grid__answer.root.true {
    background-color: white; }
  .answer-grid__answer.root.false {
    background-color: #695a46;
    border: 1px solid black; }

#log span.root {
  background-color: #d2c3af;
  padding: 5px;
  border: 1px solid tan; }

.results-tree__element.scorpion, .bubble.element.scorpion {
  background-image: url("ingredients/scorpion.png");
  background-size: cover;
  background-color: #af6969;
  border: 3px solid darkred; }

.scorpion-left {
  border-left: 3px solid darkred;
  border-top: 3px solid darkred; }

.scorpion-right {
  border-right: 3px solid darkred;
  border-bottom: 3px solid darkred;
  background-color: #af6969; }

.scorpion-back {
  background-color: #3f0000; }

.answer-grid__answer.scorpion {
  background: #af6969;
  border: 1px solid #7a3434; }
  .answer-grid__answer.scorpion.true {
    background-color: #ff5858; }
  .answer-grid__answer.scorpion.false {
    background-color: #450000;
    border: 1px solid black; }

#log span.scorpion {
  background-color: #af6969;
  padding: 5px;
  border: 1px solid darkred; }

.results-tree__element.feather, .bubble.element.feather {
  background-image: url("ingredients/feather.png");
  background-size: cover;
  background-color: #9e9e9e;
  border: 3px solid dimgray; }

.feather-left {
  border-left: 3px solid dimgray;
  border-top: 3px solid dimgray; }

.feather-right {
  border-right: 3px solid dimgray;
  border-bottom: 3px solid dimgray;
  background-color: #9e9e9e; }

.feather-back {
  background-color: #434343; }

.answer-grid__answer.feather {
  background: #9e9e9e;
  border: 1px solid dimgray; }
  .answer-grid__answer.feather.true {
    background-color: #cfcfcf; }
  .answer-grid__answer.feather.false {
    background-color: #343434;
    border: 1px solid black; }

#log span.feather {
  background-color: #9e9e9e;
  padding: 5px;
  border: 1px solid dimgray; }

/*# sourceMappingURL=main.css.map */
